<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_URI} !^/api
    RewriteCond %{REQUEST_URI} !^/apidocs

    RewriteCond %{REQUEST_URI} !^/index\.html$

    RewriteRule ^ /index.html [L]
</IfModule>